# Local configuration info
website/private_settings.py
website/debug_settings.py

# ide files (eclipse, pycharm)
.project
.pydevproject
.idea

# external packages
repos

# editor files
~*
*~
*.swp

# build and test output
.coverage
*.pyc
*.o
*.so
*.pyd
*.dll
*.dyld
