/* one-level horizontal menu */
ul#box-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position:relative;
    z-index:5;
    }
ul#box-nav>li { display:inline; float:left; position:relative; }
ul#box-nav>li:last-child { float:none; }
ul#box-nav>li:after { content: "\b7"; }
ul#box-nav>li:last-child:after { content: ""; }
ul#box-nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.2ex 0.3em 0.2ex 0.3em;
    margin: 0 0.1em 0 0.1em;
    white-space:nowrap;
    }
ul#box-nav .selected a { background: #999; }
ul#box-nav a:hover { background:#ba7dc7; color:#444; }
